*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(images-estudou/back-image.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.logo{
    width: 180px;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;  
    color: #333;
    padding: 10px 20px;
    font-weight: 500;
}
.logbtn{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    margin-right: 20px
}
.btn{
    background: #1c1b1c;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 30px 0 30px 30px;
    font-weight: 500;
}
.btn:hover{
    background: rgb(108, 105, 108);
    color: #fff;
}
.content{
    margin-top: 15%;
    max-width: 600px;
}
.content p{
    margin: 10px 0 30px;
    text-align: justify;
    color: #333;
    font-size: 17px;
}
.content h1{
    font-size: 85px;
    color: #292727;
    font-weight: 700;
}

.content .btn{
    padding: 15px 80px;
    font-size: 30px;
}
.girl-hover{
    width: 600px;
    position: absolute;
    bottom: 0;
    right: 15%
}
.animation{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}